# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/

# PyInstaller build folders
build/
dist/
*.spec

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
